body {
    font-family: Arial, sans-serif;
    background-color: #030321;
    padding: 20px;
    max-width: 600px;
    margin: auto;
}

header {
    text-align: center;
    color: #28a745;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#form-container, #list-container {
    background: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, button {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #28a745;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #218838;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #ebecf0;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-btn {
    background-color: #dc3545;
    padding: 5px 10px;
    font-size: 12px;
}